
.footer-wrapper {
  display: flex;
  justify-content: flex-start;
}
h4 {
  color: var(--main-white);
  padding-bottom: 20px;
  font-weight: 700;
  font-size: 14px;
  line-height: 1.14;
  letter-spacing: 0.03em;
}
.footer-icons :not(:last-child) {
  margin-right: 10px;
}
.no-padding-bottom {
  padding-bottom: 0;
}
.footer-icons {
  display: flex;
  flex-direction: column;
  padding-top: 72px;
}
.footer-icon {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 0 auto;
  width: 44px;
  height: 44px;
  border-radius: 50%;
  --color3: var(--main-white);
  transition: background-color 250ms cubic-bezier(0.4, 0, 0.2, 1);
}
.footer-icon:hover {
  fill: var(--main-blue);
  background-color: var(--main-blue);
}